
.smallWork {
    height: 1500px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas:
      "mangosection StradivariusSection"
      "BershkaSection ZaraSection";
  }
  
  #mangosection {
    grid-area: mangosection;
    background-image: url(../images/mangoshoe.jpg);
    background-position: center bottom;
    margin: 10px;
    border-radius: 5%;
    height: 400px;
  }
  
  #StradivariusSection {
    grid-area: StradivariusSection;
    background-image: url(../images/strad.jpg);
    background-position: center top;
    margin: 10px;
    border-radius: 5%;
    height: 400px;
  }
  
  #BershkaSection {
    background-image: url(../images/bershka.jpg);
    background-position: center top;
    margin: 10px;
    border-radius: 5%;
    height: 400px;
  }
  
  #work a {
    color: rgb(6, 92, 52);
    font-weight: bolder;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    inset: 100px;
    text-shadow: 2px 2px #abd43b;
  }
  
  .smallWork p {
    grid-area: ZaraSection;
  }